*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'SUIT', sans-serif;
}
*::-webkit-scrollbar{
    display:none;
}

/* 1. Mobile First CSS (765px) */

/* 상단이벤트배너 */
.top-banner {
    background: #B39A7C;
    display: flex;
}
.banner-content {
    padding: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-close {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 0px 20px;
    font-weight: 700;
}
.banner-text {
    line-height: 1.4;
    cursor: pointer;
}

.banner_hidden{
    display: none;
}
.popup-hidden{
    display: none;
}

/* 이벤트 팝업창 */
.banner-popup{
    width: 100%;
    height: 100%;
    position: absolute;
}
.banner-overlay{
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}

.banner-event-popup{
    position: fixed;
    width: 32%;
    height: 76%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #fff;
}

#banner-event-popup {
    visibility:hidden;
    z-index: 998;
    position: absolute;
    display: grid;
    grid-template-areas: 
    'banimg'
    'bantxt'
    'banbtn';
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: auto;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
#banner-event-popup label {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.4);
}
.banner-item-img {
    grid-area: banimg;
    background-image: url('../img/calender.png');
    background-size: cover;
    width: 100%;
    height: 50%;
}
.banner-item-text {
    grid-area: bantxt;
    margin: 50px;
}
.banner-item-text .bt1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}
.banner-item-text .bt2 {
    font-size: 20px;
}
.banner-item-text .bt3 {
    font-size: 16px;
    margin-top: 20px;
    color: rgb(138, 138, 138);
}
.banner-item-btn {
    grid-area: banbtn;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.banner-item-btn .banner-item-btn-go {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 17px;
    font-weight: 400;
}
.banner-item-btn .banner-item-btn-back {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 55px;
    font-size: 17px;
    font-weight: 400;
}

/* 디테일페이지 */
.detail__content {
    width: 100%;
    max-width: 1461px;
    margin: 0px auto;
    padding: 0 44px;
    align-items: flex-start;
    gap: 70px;
    display: flex;
    /* grid-template-areas:'imgs''info'; */
}
.detail-imgs {
    /* grid-area: imgs; */
    width: 911px;
    height: 100vh;
    overflow: scroll;
}
img {
    display: block;
    margin: auto;
    width: 100%;
}

/* info-top */
.detail-info {
    width: 359px;
    padding-top: 20vh;
    color: #444;
}
.kategori-name {
    color: #000;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 5px;
}
.product-name {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.product-price {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    margin: 100px 0px 1px;
}

/* info-select1 */
.detail-info-select .info-select1 {
    border: 1.5px solid #000;
    padding: 12px 72px;
    font-size: 1rem;
    outline: none;
    margin: 20px 0px 7px 0px;
    text-align: center;
    width: 18vw;
}

/* .minus {
    font-size: 1.2em !important;
    padding: 0 0.6em;
    color: black;
    border: none;
}
.input-text {
    background-color: transparent;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}
.plus {
    font-size: 1.2em !important;
    padding: 0 0.6em;
    color: black;
    border: none;
}*/

.detail-info-cart {
    display: flex;
    gap: 7px;
}
.input-text{
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.input-text span{
    margin: 0px 15px;
}
.quantity {
    background-color: #e8e8e8;
    min-width: 50px;
    width: 8.8vw;
    height: 55px;
    display: flex;
    
}
.detail-info-cart button {
    background: #000;
    color: #fff;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 350;
    width: 8.8vw;
    height: 55px;
}

/* 상세설명 */
.product-indexer {
    display: block;
    padding: 0.5em 0;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: -1px;
    max-width: 350px;
    background-position: 100% 50%;
    padding-top: 12vh;
    list-style: none;
}
.product-indexer > li {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 0px;
}
.product-indexer > li > a{
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}
.product-indexer > li > a:hover {
    color: #B39A7C;
    transition: all .2s;
}


/* 가로해상도가 768px이상 _tablet CSS */
@media (min-width:768px){ 

    }
    

/* 가로해상도 1024px 이상_Desktop CSS*/
@media (min-width:1024px){

    }